go 1.25.14

use (
	./gen/go
	./pkg
	./services/dojo
	./services/fude
	./services/kagami
	./services/katana
	./services/sensei
	./services/shinobi
	./services/soroban
	./services/taiko
	./services/torii
	./services/tsubame
)

// New services are added by `make new-service NAME=<name>`.
