module github.com/0xHoaxen/shogun/services/__NAME__

go 1.25.14

require (
	github.com/0xHoaxen/shogun/gen/go v0.0.0
	github.com/0xHoaxen/shogun/pkg v0.0.0
)

replace (
	github.com/0xHoaxen/shogun/gen/go => ../../gen/go
	github.com/0xHoaxen/shogun/pkg => ../../pkg
)
